.grid-unit {
  width: 120vh;
  height: 120vh;
  border:1vh solid transparent;
  border-image: url(../assets/border1.png) 4 4 stretch;
  animation: border-breathing 5s ease infinite;
  background: rgba(255,255,255,0.5);
}

.grid-unit-fat {
  width: 140vh;
}

@keyframes border-breathing {
  0% {
    transform: rotate(45deg) scale(1.003);
  }
  45%,
  55% {
    transform: rotate(45deg) scale(0.999);
  }
  100% {
    transform: rotate(45deg) scale(1.003);
  }
}