@TRANSLATE_DEFAULT_X: -83vh;
@TRANSLATE_DEFAULT_Y: -104vh;
@TRANSLATE_ORIGIN_NORMAL_X: 61vh;
@TRANSLATE_ORIGIN_NORMAL_Y: 61vh;
@TRANSLATE_ORIGIN_FAT_X: 71vh;
@TRANSLATE_ORIGIN_FAT_Y: 61vh;

@TRANSLATE_LOGO_X: 61vh - @TRANSLATE_ORIGIN_NORMAL_X;
@TRANSLATE_LOGO_Y: 61vh - @TRANSLATE_ORIGIN_NORMAL_Y;
@TRANSLATE_CATALOGUE_X: 312.73vh - @TRANSLATE_ORIGIN_FAT_X;
@TRANSLATE_CATALOGUE_Y: 140.196vh - @TRANSLATE_ORIGIN_FAT_Y;
@TRANSLATE_NEWS_X: 233.534vh - @TRANSLATE_ORIGIN_NORMAL_X;
@TRANSLATE_NEWS_Y: 233.534vh - @TRANSLATE_ORIGIN_NORMAL_Y;

@TRANSLATE_L1_X: 219.392vh - @TRANSLATE_ORIGIN_NORMAL_X;
@TRANSLATE_L1_Y: 46.758vh - @TRANSLATE_ORIGIN_NORMAL_Y;
@TRANSLATE_C1_X: 147.267vh - @TRANSLATE_ORIGIN_NORMAL_X;
@TRANSLATE_C1_Y: 147.267vh - @TRANSLATE_ORIGIN_NORMAL_Y;
@TRANSLATE_L2_X: 46.858vh - @TRANSLATE_ORIGIN_NORMAL_X;
@TRANSLATE_L2_Y: 219.392vh - @TRANSLATE_ORIGIN_NORMAL_Y;
@TRANSLATE_C2_X: -25.267vh - @TRANSLATE_ORIGIN_NORMAL_X;
@TRANSLATE_C2_Y: 319.801vh - @TRANSLATE_ORIGIN_NORMAL_Y;
@TRANSLATE_L3_X: -125.676vh - @TRANSLATE_ORIGIN_NORMAL_X;
@TRANSLATE_L3_Y: 391.926vh - @TRANSLATE_ORIGIN_NORMAL_Y;
@TRANSLATE_C3_X: -197.801vh - @TRANSLATE_ORIGIN_NORMAL_X;
@TRANSLATE_C3_Y: 492.335vh - @TRANSLATE_ORIGIN_NORMAL_Y;
@TRANSLATE_L4_X: -298.210vh - @TRANSLATE_ORIGIN_NORMAL_X;
@TRANSLATE_L4_Y: 564.460vh - @TRANSLATE_ORIGIN_NORMAL_Y;
@TRANSLATE_C4_X: -370.335vh - @TRANSLATE_ORIGIN_NORMAL_X;
@TRANSLATE_C4_Y: 664.892vh - @TRANSLATE_ORIGIN_NORMAL_Y;
@TRANSLATE_L5_X: -470.744vh - @TRANSLATE_ORIGIN_NORMAL_X;
@TRANSLATE_L5_Y: 736.994vh - @TRANSLATE_ORIGIN_NORMAL_Y;